*{
    margin:0;
    padding: 0;
}
.rides-design{
    margin-top: 100px;
   
}

.ride-name{
    border:'2px solid blue';
    background:'black';
}

.footer{
    color:black;
}

.videoBG{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.txt-des{
    font-weight: bold;
    font-size: 50px;
    color: #31322f;
}

