.google-button-design{
    margin-top: 30px;
    justify-content: center;
}

.form-design{
    justify-content: center;
    margin-top: 100px;
    padding: 50px;
    border: 1px solid grey;
    border-radius:5px;
}

.form-design input{
    width:460px;
}